<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Jno's web interface</title>
        <link rel="icon" type="image/png" href="skins/default/images/xbmc-icon.png" />
        
        <script data-main="./js/webInterface.js" src="js/libraries/require/require.js"></script>
        
		<script type="text/javascript" src="js/libraries/underscore/underscore.js"></script>
		<script type="text/javascript" src="js/libraries/jquery/jquery.js"></script>
		<script type="text/javascript" src="js/libraries/jquery/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="js/libraries/Backbone/backbone-min.js"></script>
		<script type="text/javascript" src="js/libraries/Backbone/backbone.websockets.js"></script>
		<script type="text/javascript" src="js/libraries/jquery-ui/jquery-ui-1.11.0-beta.2.custom/jquery-ui.min.js"></script>
	    <script type="text/javascript" src="js/libraries/jquery/jquery.total-storage.min.js"></script>
		
		<script type="text/javascript" src="js/libraries/XbmcController/XbmcWebSocketsApi.js"></script>
		<script type="text/javascript" src="js/libraries/XbmcController/XbmcHttpApi.js"></script>
		<script type="text/javascript" src="js/libraries/XbmcController/XbmcCachedQueryController.js"></script>
		<script type="text/javascript" src="js/libraries/XbmcController/XbmcController.js"></script>
		
		<script type="text/javascript" src="js/app.js"></script>
		
		
		<link rel="stylesheet" href="skins/default/css/jquery-ui.css">
		<link rel="stylesheet" href="skins/default/css/main.css">
		<link rel="stylesheet" href="skins/default/css/scrollbars.css">
		
		<link rel="stylesheet" href="skins/default/css/views/homeMenuItems.css">
		<link rel="stylesheet" href="skins/default/css/views/movies.css">
		
		<script type="text/javascript" src="js/site.js"></script>
    </head>

	<style>
		fieldset {
			border: 0;
		}
		label {
			display: block;
			margin: 30px 0 0 0;
		}
		select {
			width: 200px;
		}
		.overflow {
			height: 200px;
		}
	</style>
    <body>
    	<div id="background-container"></div>
    	<link rel="import" href="/js/tpls.html">
    	<script type="text/template" id="tpl-main">
			<div id="main_wrapper">
				<header id="header" style="display:none">
					Header (connected as <%- userName %> - <%- locale %>)
				</header>
				<div id="containerToResize">
					<div id="nav-content-container">
						<div id="nav-container">
							<nav id="nav" style="display: none;">
							</nav>
						</div>
						<div id="content-container">
							<div id="content">
								<div id="globalContent">
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer id="globalFooter">
					Footer
				</footer>
			</div>
		</script>
    	
		<script type="text/template" id="tpl-homeMenuItems">
  			<div class="home-menu-items">
				<div class="items-container"></div>
			</div>
		</script>
		
		<script type="text/template" id="tpl-homeMenuItem">
  			<div class="home-menu-item<% if (selected) {%> selected<%}%>">
				<a href="<%- link %>">
				<% if (icon) { %>
    				<img class="media-object" src="app/img/faces/<%- icon %>">
				<%} else { %>
					<span><%- label %></span>
				<%}%>
				</a>
  			</div>
		</script>
		
		<script type="text/template" id="tpl-allMovies">
  			<ul class="movies-items">
			</ul>
		</script>
		
		<script type="text/template" id="tpl-moviePoster">
  			<li class="movie-poster-item">
				<a href="#movieDetails/<%- movieid %>">
				<% if (moviedetails.thumbnail) { %>
    				<img class="media-object" src="<%- WebInterface.Utils.getImageUrl(moviedetails.thumbnail) %>">
				<%} else { %>
					<span><%- moviedetails.label %></span>
				<%}%>
				</a>
  			</li>
		</script>
		
		<script type="text/javascript" src="js/tools/utils.js"></script>
		<script type="text/javascript" src="js/tools/userSettings.js"></script>
		
		<script type="text/javascript" src="js/models/JSONRPC.js"></script>
		
		<script type="text/javascript" src="js/models/context.js"></script>
		<script type="text/javascript" src="js/models/homeMenuItem.js"></script>
		<script type="text/javascript" src="js/models/movie.js"></script>
		<script type="text/javascript" src="js/collections/homeMenuItems.js"></script>
		<script type="text/javascript" src="js/collections/movies.js"></script>
		
		<script type="text/javascript" src="js/views/main.js"></script>
		<script type="text/javascript" src="js/views/homeMenuItems.js"></script>
		<script type="text/javascript" src="js/views/homeMenuItem.js"></script>
		<script type="text/javascript" src="js/views/allMovies.js"></script>
		<script type="text/javascript" src="js/views/moviePoster.js"></script>

		<script type="text/javascript" src="js/router.js"></script>

		<script>
			$(function() {
				//new Site($("#globalHeader"), $("#globalNav"), $("#globalContent"), $("#globalFooter"));
			});
			
		    $(function() {
				WebInterface.start({
					context: {
						locale: 'fr',
						userName: 'jn.canches'
					},
					settings: {
					}
				});
			});
		</script>    
    </body>
</html>