<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jno's web interface</title>
		<script type="text/javascript" src="js/libraries/underscore/underscore.js"></script>
		<script type="text/javascript" src="js/libraries/jQuery/jQuery.js"></script>
		<script type="text/javascript" src="js/libraries/Backbone/backbone-min.js"></script>
		<script type="text/javascript" src="js/libraries/jQuery-UI/jquery-ui-1.11.0-beta.2.custom/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="skins/default/jquery-ui.css">
		<link rel="stylesheet" href="skins/default/main.css">
		<script type="text/javascript" src="js/site.js"></script>
    </head>

	<style>
		fieldset {
			border: 0;
		}
		label {
			display: block;
			margin: 30px 0 0 0;
		}
		select {
			width: 200px;
		}
		.overflow {
			height: 200px;
		}
	</style>
    <body>
    	<link rel="import" href="/js/tpls.html">
		<script type="text/template" id="tpl-homeMenuItems">
  			<ul class="homeMenuItems"></ul>
		</script>
		
		<script type="text/template" id="tpl-homeMenuItem">
  			<li class="homeMenuItem">
				<% if (typeof(icon) != "undefined") { %>
    				<img class="media-object" src="app/img/faces/<%- icon %>">
				<%} else { %>
					<span><%- label%></span>
				<%}%>
  			</li>
		</script>
		
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/models/homeMenuItem.js"></script>
		<script type="text/javascript" src="js/collections/homeMenuItems.js"></script>
		
		<script type="text/javascript" src="js/views/homeMenuItems.js"></script>
		<script type="text/javascript" src="js/views/homeMenuItem.js"></script>

		<script type="text/javascript" src="js/router.js"></script>


		<script>
			$(function() {
				new Site($("#globalHeader"), $("#globalNav"), $("#globalContent"), $("#globalFooter"));
			});
			
		    $(function() {
				WebInterface.start({
					homeMenuItems: [
					{
					  id: 1,
					  label : 'Movies',
					},
					{
					  id: 2,
					  label : 'TV Shows',
					},
					{
					  id: 3,
					  label : 'Music',
					},
					{
					  id: 4,
					  label : 'Parameters',
					}
					]
				});
			});
		</script>    
    
		<div id="main_wrapper">
			<header id="globalHeader">
				Header
			</header>
			<nav id="globalNav">
				Navigation
				<ul>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">CV</a></li>
				</ul>
			</nav>
			<section id="globalContent">
			</section>
			<footer id="globalFooter">
				Footer
			</footer>
		</div>
		
    </body>
</html>