<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-ajax/core-ajax.html">

<polymer-element name="wi-background" attributes="src">
  <template>
    <style>
    :host {
      width: 100%;
    }
    </style>
    <img stretch id="background" src="{{src}}" alt="">
  </template>
  <script>
  Polymer('wi-background', {
	src: '',
	
	ready: function() {
		document.querySelector('wi-movie-service').addEventListener('movieloaded', function(e) {
			document.querySelector('wi-background').$.background.src = '/image/' + encodeURIComponent(e.detail.details.art.fanart);
		});
	}
  });
  </script>
</polymer-element>
