<div id="main_wrapper">
	<div id="background-container"></div>
	<header id="header" style="display:none">
		Header (connected as <%- userName %> - <%- locale %>)
	</header>
	<div id="containerToResize">
		<div id="nav-content-container">
			<div id="nav-container">
				<nav id="nav" style="display: none;">
				</nav>
			</div>
			<div id="content-container">
				<div id="content">
					<div id="mainWidget">
					</div>
				
					<div id="globalContent">
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="globalFooter">
		Footer
	</footer>
</div>