<div class="home-menu-items">
	<div class="items-container">
		<% _.each( homeMenuBarItems, function( item ){ %>
	 		<div class="home-menu-item<% if (item.attributes.selected) {%> selected<%}%>" id='homeMenuItem-<%- item.attributes.id %>'>
				<a href="<%- item.attributes.link %>">
				<% if (item.attributes.icon) { %>
	 				<img class="media-object" src="app/img/faces/<%- item.attributes.icon %>">
				<%} else { %>
					<span><%- item.attributes.label %></span>
				<%}%>
				</a>
			</div>
		<% }); %>
	</div>
</div>